<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/css/lightbox.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/bootstrap.min.js"></script>
    <title>Galeri Data SQM</title>
  </head>
  <body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header" style="padding-left: 10px">
                    <!--<div class="navbar-text navbar-brand-centered"><h2 class="text-center"><%= @title %></h2></div>-->
                    <%= yield %>
                </div>
            </div>
        </nav>
    </div>
    <script src="/js/lightbox.min.js"></script>
  </body>
</html>
