<div class="page-header">
  <h3><%= @picture_file_title %></h3>
</div>
<a href="<%= @picture_url %>">
  <img src="<%= @picture_url %>">
</a>
<br>
<br>
<p class="text-right"><em><strong>.dat</strong> file is <strong>not</strong> available.</em></p>
<a href="/" type="button" class="btn btn-default navbar-btn pull-left">
  <span class="glyphicon glyphicon-chevron-left"></span> Return to <strong>Galeri</strong>
</a>
